#graphic-design {
  text-align: center;
  color: #333;
  position: relative; 

  .go-back {
      position: absolute;
      left: 2rem;
      top:2rem;
      text-decoration: none;
      display: flex;
      align-items: center;

      i {
          padding-right: 1rem;
      }
  }

  .graphic-container {
    width: 50%;
    

    .card {
        padding-top: 4rem;

        p {
            padding-top:1rem;
            color: rgb(94, 94, 94);
        }
    }
  }
}
